
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Online Diary</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link">Diaries</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content container">
    <router-outlet></router-outlet>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
    <p>Copyright {{ currentDate | date }}. All Rights Reserved</p>

    </div>
</nav>